<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713179336846-bj8fu349agdoa5t7ult877fcu54dclf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713179336846-bj8fu349agdoa5t7ult877fcu54dclf5</string>
	<key>API_KEY</key>
	<string>AIzaSyBwDOO1wK1RY31S5oYojOHOm1yRB0b_Cp0</string>
	<key>GCM_SENDER_ID</key>
	<string>713179336846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flyxby.flyxby</string>
	<key>PROJECT_ID</key>
	<string>flyxby-48437</string>
	<key>STORAGE_BUCKET</key>
	<string>flyxby-48437.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713179336846:ios:547fcc7eb2f1707098b9df</string>
	<key>DATABASE_URL</key>
	<string>https://flyxby-48437.firebaseio.com</string>
</dict>
</plist>